@charset "UTF-8";

h1, h2, h3{text-align:center;}
#table-main{
	width:100%;
	margin:0px auto;
	border-collapse:collapse;
	border:1px solid #eee;
}
td{
	border:1px solid #eee;
}
#td-left{
	width:10%;
	min-width:150px;
	height:700px;
	vertical-align:top;
}
#td-main{
	vertical-align:top;
}
#table-writeForm, #table-modifyForm, #table-imageboard{
	margin:0px auto;
	border-collapse:collapse;
	border:1px solid #eee;
}
#login{
	text-align:center;	
}
ul{
	padding-inline-start:10px;
	text-align:center;
}
li{
	list-style:none;
	display:inline-block;
	margin-left:10px;
	margin-right:10px;
}
.color-red{
	color:red;
	font-size:10pt;
	font-weight:bold;
	padding:2px;
}

/* 로그인 테이블 */
#table-login, #table-login td{
	border:0px solid #fff;
}
#table-login td{
	padding:4px;
}
#table-login input[type="text"], #table-login input[type="password"]{
	padding:5px;
}
#table-login input[type="button"]{
	padding:3px;
}

/* 이미지 테이블 */
#table-imageList{
	margin:0px auto;
	border:0px solid #fafafa;
	border-collapse:collapse;
}
#table-imageList td{
	word-wrap: break-word;
    word-break: break-all;
}
#table-imageList .number{
	width:70px;
	text-align:center;
}
#table-imageList .imgName1{ 
	width:300px;
	text-align:center;
}
#table-imageList .imgName2{
	width:300px;
	text-align:left;
	padding-left:10px;
}
#table-imageList .imgFieldName{
	width:100px;
	text-align:center;
	padding:3px;
}
#table-imageList .field1{
	text-align:left;
	padding:3px;
	min-width:100px;
}
#table-imageList .td-quantity{
	text-align:right;
	padding-right:35px;
}
#table-imageList input[type="text"]{
	width:30px;
	padding:5px;
	text-align:right;
}
#table-imageList textarea{
	margin:3px;
	padding:5px;
	width:95%;
	height:300px;
}
#table-imageList .field2{
	text-align:right;
	padding-right:10px;
	line-height: 10px;
}
#table-imageList .field1{
	text-align:center;
}
#table-imageList img{
	width:50px;
}
#table-imageList a:link, #table-imageList a:visited{
	text-decoration:none;
	color:black;
}
#table-imageList a:hover{
	color:red;
}
#table-imageList .option_box_up{
	position: absolute;
	top:0;
	width:25px;
	height:50%;
	box-sizing:border-box;
}#table-imageList .option_box_down{
	position: absolute;
	top:auto;
	bottom:0;
	width:25px;
	height:50%;
	box-sizing:border-box;
}
#table-imageList .quantity{
	position:relative;
	margin:0px auto;
	padding:0px;
	display:inline-block;
}